{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    form {
        color: #111;
        text-align: center;
        margin:
    }

    input {
        margin: 5px;
    }

    .col-md-4 {
        font-family: Kameron;
        text-align: center;
        font-size: 30px;
        float: left;
        width: 50%;
        color: #000;

    }

    .image-text {
        text-align: center;
        font-size: 40px;
    }

    i {
        font-size: 100px;
        padding-bottom: 10px;
    }

    #main {
        font-family: Tangerine;

    }

    h1 {
        text-align: center;
        font-size: 130px;

        /* Chrome, Safari, Opera */
        -webkit-animation-name: fade;
        -webkit-animation-duration: .7s;
        /* Standard syntax */
        animation-name: fade;
        animation-delay: .7s;
    }

    form {
        font-family: Kameron;
        text-align: center;
        font-size: 30px;
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fade;
        -webkit-animation-duration: .7s;
        /* Standard syntax */
        animation-name: fade;
        animation-delay: .7s;
    } 

    #wrapper {
        margin-left: 200px;
        margin-right: 200px;
    }

    li {
        padding-left: 20px;
        display: inline;
    }

    a {
        font-size: 30px;
    }

    i {
        display: none;
        font-size: 20px;
        color: chartreuse;
        padding: 10px;
    }
    
    

</style>

<script>
    //$(document).ready(function() {$.getJSON("/getdone/", function(data) {$.each(data, function(key, val) {$('.' + key + '-check').style.display = val?'block':'none';})});

</script>

{% endblock %}
{% block content %}
<div id="wrapper-ws">
    <div id="main" class="container-fluid">
        <h1>Mr. Cavalier 2015</h1>

        <div class="col-md-4">

            <a href="/score/aakash">Aakash Saraf </a><br>
            <a href="/score/andre">Andre Rizzotti </a><br>
            <a href="/score/andrew">Andrew Cahill </a><br>
            <a href="/score/austin">Austin Walker </a><br>
            <a href="/score/ben">Ben Shepard </a><br>
            <a href="/score/charlie">Charlie Wasaff </a><br>
            <a href="/score/chris">Chris Gill </a><br>
        </div>


        <div class="col-md-4">
            <a href="/score/colton">Colton Nettleton </a><br>
            <a href="/score/connor">Connor Meaux </a><br>
            <a href="/score/paul">Paul O'Neill </a><br>
            <a href="/score/pedro">Pedro Ott </a><br>
            <a href="/score/scott">Scott Stevens </a><br>
            <a href="/score/tyler">Tyler Deering </a><br>
        </div>
    </div>
</div>
{% endblock %}