{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    form {
        color: #111;
        text-align: center;
        margin:
    }

    input {
        margin: 5px;
    }

    .image-text {
        text-align: center;
        font-size: 40px;
    }

    i {
        font-size: 100px;
        padding-bottom: 10px;
    }

    #main {
        font-family: Tangerine;

    }

    h1 {
        text-align: center;
        font-size: 130px;

        /* Chrome, Safari, Opera */
        -webkit-animation-name: fade;
        -webkit-animation-duration: .7s;
        /* Standard syntax */
        animation-name: fade;
        animation-delay: .7s;
    }

    form {
        font-family: Kameron;
        text-align: center;
        font-size: 30px;
        /* Chrome, Safari, Opera */
        -webkit-animation-name: fade;
        -webkit-animation-duration: .7s;
        /* Standard syntax */
        animation-name: fade;
        animation-delay: .7s;
    } 

    #wrapper {
        margin-left: 200px;
        margin-right: 200px;
    }

    li {
        padding-left: 20px;
        display: inline;
    }

    .accordion {
        float: start;
        text-align: center;
        
    }

    .accordion-toggle {
        font-family: Kameron;
        font-size: 30px;
        border-style: solid;
        border-radius: 10px;
        border-width: 2px;
        padding-right: 30px;
        padding-left: 30px;
        
        color: #000;
        text-decoration: none;
    }
    
    a:hover {
        color: #000;
        text-decoration: none;
    }
    
    .in {
        color: #000;
        text-decoration: none;
    }

    .accordion-inner {
        font-family: Kameron;
        font-size: 20px;
    }
    
    #myButton {
        float: left;
        background:none!important;
        border:none; 
        padding:0!important;
        font: inherit;
        /*border is optional*/
        border-bottom:1px solid #444; 
        cursor: pointer;
    }
    
    .glyphicon {
        padding-top: 10px;
        float: left;
        font-size: 30px;
    }
    
    .subtext {
        font-size: 16px;
    }
    
    .cat {
        border-style: solid;
        border-width: 2px;
        border-radius: 10px;
    }

</style>

<script>
$(document).ready(function(){
    $.getJSON("/data/" + window.location.pathname.split('/').pop(), function( data ) {
  $.each( data, function( key, val ) {
    var $radios = $('input:radio[name=' + key + ']');
    if($radios.is(':checked') === false) {
        $radios.filter('[value=' + val + ']').prop('checked', true);
    }
  });});
  
    
});
    
</script>


{% endblock %}
{% block content %}
<div id="wrapper-ws">
    <div id="main" class="container-fluid">
        <form action="" method="post" name="test" class="container-fluid">
            <p><i class="glyphicon glyphicon-arrow-left"></i><input type="submit" id="myButton" value="Back"></p>
            <br>
            <br>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                             Appearance <span class="subtext">(judge during intro)</span>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Style {{form.a_style()}}
                            Well-groomed {{form.a_wellg()}}
                            Professionalism {{form.a_prof()}}
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Poise <span class="subtext">(judge during intro)</span>
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Good Posture {{form.p_posture()}}
                            Smile {{form.p_smile()}}
                            Appropriate gestures and eye contact {{form.p_geye()}}
                            Confidence {{form.p_conf()}}
                            Walk {{form.p_walk()}}
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Dance <span class="subtext">(judge during group dance)</span>
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Grace {{form.d_grace()}}
                            Rhythm {{form.d_rythm()}}
                            Smile {{form.d_smile()}}
                            Confidence {{form.d_conf()}}
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                            Talent <span class="subtext">(judge during talent)</span>
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Creativity {{form.t_creat()}}
                            Technical Skill {{form.t_tech()}}
                            Execution {{form.t_exec()}}
                            Overall Performance {{form.t_over()}}
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                            Crowd Response <span class="subtext">(judge during talent)</span>
                        </a>
                    </div>
                    <div id="collapseFive" class="accordion-body collapse">
                        <div class="accordion-inner">
                            Crowd Spirit {{form.c_spirit()}}
                            Applause Level {{form.c_appl()}}
                            
                        </div>
                    </div>
                </div>



                
                

            </div>
        </form>
    </div>
</div>    
{% endblock %}